#exportarbtns{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#exportarbtns button{
    color: white;
    margin: 30px 40px 10px 0px;
    text-decoration: none;
    font-weight: bold;
    background-color: #c21c34;
    padding: 10px 20px;
    border-radius: 100px;
    border: 0px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#exportarbtns button:hover {
    background-color: #eb0e2b;
    box-shadow: 0px 0px 10px #eb0e2b;
    transition: all 0.3s;
    cursor: pointer;
}

#boletinTabla{
    background-color: #696969;
    margin: 40px;
    margin-top: 20px;
}

#logoGuev{
    height: 80px;
    margin: 0px 20px 0px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: white;
    border: 3px solid black;
}

th {
    border: 3px solid black;
    padding: 8px;
    text-align: left;
}

td {
    border: 3px solid black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

#materias{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    justify-content: center;
    width: 60px;
    height: 60px;
}

#divNotas{
    position: fixed;
    width: 400px;
    height: auto;
    margin: auto;
    margin-right: 160px;
    padding: 20px;
    margin-top: 90px;
    background-color: #696969;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #1d1d1d;
    z-index: 1000;
    scale: 1;
    transition: all .5s cubic-bezier(.79,.14,.15,.86);

    @starting-style {
        scale: 0;
    }
}


#formNota {
    display: flex;
    flex-direction: column;
    color: #fefefe;
    font-weight: bold;
    font-size: 18px;
    width: 100%;

}

#formNota input, #formNota select {
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: #fefefe;
    opacity: 80%;
    box-shadow: 0px 0px 5px #1d1d1d;
}

#formNota button{
    width: 100%;
}

.oculto{
    display: none;
}