body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3b3b3b;
}

#navbar {
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#navbar ul {
    list-style-type: none;
    display: flex;
}

#navbar ul li {
    margin: 0 15px;
    align-content: center;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #c21c34;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s;
}

#navbar ul li a:hover {
    background-color: #eb0e2b;
    box-shadow: 0px 0px 10px #eb0e2b;
}

#navbar ul li button {
    background-color: #c21c34;
    font-size: 14px;
    color: white;
    border: 0px;
    border-radius: 100px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

#navbar ul li button:hover{
    background-color: #eb0e2b;
    box-shadow: 0px 0px 10px #eb0e2b;
}

#logo {
    height: 80px;
}

#banner {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    justify-content: space-between;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer ul{
    list-style-type: none;
    display: flex;
    padding: 10px;
    margin: 20px;
}

#usuariologo {
    height: 70px;
    border-radius: 50%;
}

#saludo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

#saludo h1 {
    padding: 0px 20px;
}


.oculto{
    display: none;
}


#carruselDiv { 
    display: flex;
    position: relative; 
    overflow: hidden;
    margin: auto;
    object-fit: contain;
    margin: 0px 0px 0px 30px;
    top: -90px;
    width: 100%;
}

.slide { 
    display: none; 
    text-align: center; 
}

.slide.active { 
    display: block; 
    animation: fade 1s ease-in-out;
    max-width: 80%
}

#carruselDiv .ant, #carruselDiv .sig {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}

.ant { 
    left: 10px;
}
.sig { 
    right: 190px; 
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#infotxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#descripcion {
    text-align: center;
    width: 600px;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

#descripcionfinal {
    width: 600px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}